
* {
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
  }

  h1 {
    font-style: italic
  }
  
  #title {
    color: rgb(0, 0, 0);
  }

  h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #0a52b6
  }

  a {
    text-decoration: none
  }
  
  p {
    text-align: center

  }
  
  #links {
    list-style-type: none
  }

  .seccion {
    border: 0.8pt solid #c1bdbd;
    background-color: #f4f8fd;
    box-shadow: 0 1px 6px rgb(0 0 0 / 12%), 0 1px 4px rgb(0 0 0 / 24%);
    padding: 2%;
  }

  #seccionidiomas table {
    margin: 0 auto;
  }

  #seccioncontactenos {
    display: grid;
    grid-template-areas:none;
    grid-area:none
  }
  #contenedor {
    display: flex;
    justify-content: space-around;
  }
  #seccioncontactenos {
    display: grid;
    grid-template-areas: 
        "area1 area2"
        "area3 area4";
  }

  #uno {
    grid-area: area1;
  }

  #dos {
    grid-area: area2;
  }
  #tres {
    grid-area: area3;
  }
  #cuatro {
    grid-area: area4;
  }

  img {
    max-width: 100%;
  }

  body {
    padding: 0 10%;
    display: grid;
    grid-template-areas: 
        "A A A"
        "B B B"
        "C C D"
        "E F G"
        "H I I"
        "J J J";
    gap: 0.5em;
  }

  #seccionheader {
    grid-area: A;
    text-align: center
  }
  #seccionmenu {
    grid-area: B;
  }
  #secciondatos {
    grid-area: C;
  }
  #seccionredes {
    grid-area: D;
  }
  #seccionhabilidades {
    grid-area: E;
  }
  #seccionidiomas {
    grid-area: F;
  }
  #secciontransversales {
    grid-area: G;
  }
  #secciongaleria {
    grid-area: H;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 2%;
  }
  #seccioncontactenos {
    grid-area: I;
  }
  #seccionfooter {
    grid-area: J;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }